<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    {% block stylesheets %}
        {% stylesheets '@TralangBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="{{ path('homepage') }}">Tralang</a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="{{ path('glossary') }}">Add words</a>
        </li>
        <li class="active">
            <a href="{{ path('first-mode') }}">Training words</a>
        </li>
        <li class="active">
            <a href="{{ path('logout') }}">Logout</a>
        </li>
    </ul>
    <span class="navbar-brand navbar-right" style="padding-right: 22px; padding-top: 14px;"></span>
</nav>
<div class="img">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</div>
{% javascripts '@TralangBundle/Resources/public/js/*'
'@TralangBundle/Resources/public/js/ModeTraining/*'%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
